body {
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  font-size: 120%;
}

button,
select {
  font-size: 100%;
}

#selectedVerse {
  font-style: italic;
  font-size: 36px;
}

footer {
  text-align: center;
  padding: 20px;
}

/* Styling for the link */
footer a {
  /* text-decoration: none; */
  color: #333;
}

a {
  color: #333;
}

#m {
  font-style: italic;
}

.animation {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
}

.animation h2 {
  position: absolute;
  top: 50%;
  line-height: 200px;
  height: 100px;
  margin-top: -50px;
  font-size: 200px;
  width: 100%;
  text-align: center;
  color: transparent;
  animation: blurFadeInOut 3s ease-in backwards;
}

.animation h2.frame-1 {
  animation-delay: 0s;
}

@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px rgb(0, 0, 0);
    transform: scale(0.9);
  }

  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px rgb(0, 0, 0);
    transform: scale(0);
  }
}

@keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px rgb(0, 0, 0);
    transform: scale(1.3);
  }

  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    transform: scale(1);
  }
}

@keyframes fadeInBack {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 0.4;
    transform: scale(2);
  }

  100% {
    opacity: 0.2;
    transform: scale(5);
  }
}

.fade-in-element {
  position: absolute;
  /* top: 5vh; */
  margin-left: 25vw;
  width: 50%;
  text-align: center;

  opacity: 0;
  animation: fadeIn 1s ease-in-out 3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}